@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto";
  color: white;
  text-decoration: none;
}

:root {
  --color-bg: rgba(146, 43, 225, 1);
  --color-bg-variant: rgb(29, 32, 39);
  --color-primary: rgb(124, 30, 196);
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: rgba(255, 255, 255, 0.95);
  --color-lighter: rgba(255, 255, 255, 0.8);
  --color-light: rgba(255, 255, 255, 0.6);
  --color-dull: rgba(255, 255, 255, 0.4);

  --ss-xs: 480px;
  --ss-sm: 768px;
  --ss-md: 1024px;
  --ss-l: 1200px;
  --ss-xl: 1500px;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  --transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);

  --container-width-lg: 60%;
  --container-width-md: 75%;
  --container-width-sm: 80%;

  --header: 10rem;
}

.MuiButtonBase-root {
  color: var(--color-dull) !important;
}

button.Mui-selected {
  color: var(--color-lighter) !important;
}

html,
body {
  min-height: 100%;
}
body {
  background: var(--color-bg-variant);
  background-repeat: no-repeat;
  counter-reset: section;
}
p {
  line-height: 1.5em;
  color: var(--color-lighter);
}

/* ================= GENERAL STYLES ================= */
.container {
  width: var(--container-width-lg);
  margin: 5rem auto;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--color-lighter);
}

h4,
h5 {
  font-weight: 300;
  color: var(--color-light);
}

h1 {
  font-size: calc(3.5vw + 2rem);
}

h2 {
  font-size: calc(2.5vw + 1.5rem);
  color: var(--color-light);
}

section {
  margin-top: 8rem;
}

section > h2,
section > h3,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2,
section > h4 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  align-items: baseline;
  color: var(--color-white);
}

.numbered-heading:before {
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: counter(section) ".";
  margin-right: 10px;
  color: var(--color-white);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}

@media (max-width: 480px) {
  .numbered-heading:before {
    margin-bottom: -3px;
    margin-right: 5px;
  }
}

.numbered-heading:after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--color-white);
}

@media (max-width: 1080px) {
  .numbered-heading:after {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .numbered-heading:after {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .numbered-heading:after {
    margin-left: 10px;
  }
}

.text-light {
  color: var(--color-light);
}

a {
  position: relative;
}

.link:after {
  position: absolute;
  transition: var(--transition);
  background: var(--color-lighter);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  width: 0;
  bottom: 0;
}

.link:hover:after {
  width: 100%;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-lighter);
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
